html{
  width:100%;
  height:100%;
}

body{
  width:100%;
  height:100%;

  font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: none;
  color: #3d67c7;
}

a:hover{
  color: #b2bcd1;
}

.wrapper{
  position: relative;
  z-index: 10000;
}

.lunch{
  padding: 0 15px;
}

.featured-area{
    background: #2d3242; /* Old browsers */
    background: -moz-linear-gradient(top, #2d3242 0%, #1e222f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d3242), color-stop(100%,#1e222f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2d3242 0%,#1e222f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2d3242 0%,#1e222f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2d3242 0%,#1e222f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2d3242 0%,#1e222f 100%); /* W3C */
    background-repeat: no-repeat;
    color: #fafafa;

    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    padding: 60px 0;
}

.featured-area canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.featured-area h1{
    margin-top: 0;
    text-align: center;
    font-size: 38px;
}

.featured-area h2{
    text-align: center;
    margin-top: 30px;
}

.featured-area p{
    text-align: center;
}

.caterer{
  font-size: 12px;
  text-align: center;
  color: rgba(255,255,255,0.5);
  font-style: italic;
}


.site-footer{
    padding: 20px;
    background: #fafafa;
}

.copyright{
    margin: 0;
    text-align: center;
}

.veggie{
  display: inline-block;
  margin-top: 20px;
}

.veggie svg{
  width: 12px;
  height: auto;
  margin:0 10px 0 0;
}


.heart{
  margin-top: 50px;
  color: #3d67c7;
}
.heart:hover{
  color: #f05f5f;
}
